.map {
  align-items: center;
  border-radius: 5px;
}
.map h2 {
  margin-top: 0px;
  margin-bottom: 70px;
  margin-left: 550px;
}

iframe {
  width: 60%;
  margin-left: 260px;
  margin-bottom: 25px;
}
