.product{
    margin-left: 240px;
}

.h2Bread{
    padding-left: 0px;
    color: rgb(56, 45, 45)
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5% 8% 5%;
}

#bread{
    margin-top: 80px;
    display: inline-block;
    width: 80%;
    margin-left: 100px;
}

#bread img{
    width: 100px;
    height: auto;
}